
@{
    ViewBag.Title = "AddPatient";
    Layout = "~/Views/LayoutPage.cshtml";
}

<div class="site-section pb-0">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-7 pr-md-7 mb-5">
                <form action="#" method="post">
                    <div class="form-group">
                        <label for="name">First Name</label>
                        <input name="FirstName" type="text" class="form-control" id="FirstName" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Last Name</label>
                        <input name="LastName" type="text" class="form-control" id="LastName" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Date of Birth</label>
                        <input name="DateofBirth" type="datetime" class="form-control" id="DateofBirth" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Phone</label>
                        <input name="Phone" type="text" class="form-control" id="Phone" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Email</label>
                        <input name="Email" type="email" class="form-control" id="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary py-3 px-5" value="Add Patient">
                    </div>
                </form>
            </div>



        </div> <!-- .row -->

    </div>
</div>

