
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/LayoutPage.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<div style="width:75%; color:black" class="col-lg-7 mx-auto text-center">

    <h2 class="heading"><strong>Hello @RouteConfig.user.FirstName,</strong></h2>
    <a style="font-size:18px">
        We're glad to see you've decided to use our services and wanted to tell you a little bit about us.
        We are four talented and ambitious girls, who wanted to give out and do something good for the community.
        As developers, we created a beautiful friendly website, for doctors and their patients,
        which aims to verify drugs images and most important- make sure every patient is safe, and gets his right medicine.
        Our services are accessible for each and every one, freely and equally. We encourage you to explore our website and get the best out of it.
    </a>
</div>
<br />
<br />
<br />
<div class="site-section bg-light title-wrap-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <span class="subheading">Our Team</span>
                <h2 class="heading"><strong style="color:maroon">Our Dedicated</strong> Developers</h2>
            </div>
        </div>
    </div>
</div>

<div class="site-section overlap-section">
    <div class="container">
        <div class="row">
            <div class="col-5 col-sm-5 col-md-5 col-lg-3 mb-3 mb-lg-0">
                <a href="#" class="team">
                    <img src="/images/nemo.jpg" alt="Image" class="img-fluid">
                    <div class="team-inner" style="width: 250px; background-color:grey">
                        <h3>Naama Liberman</h3>
                        <span>Frontend Developer</span>
                    </div>
                </a>
            </div>
            <div class="col-5 col-sm-5 col-md-5 col-lg-3 mb-3 mb-lg-0">
                <a href="#" class="team">
                    <img src="/images/sa.jpg" alt="Image" class="img-fluid">
                    <div class="team-inner" style="width: 250px; background-color:grey">
                        <h3>Sari Weiss</h3>
                        <span>Frontend Developer</span>
                    </div>
                </a>
            </div>
            <div class="col-5 col-sm-5 col-md-5 col-lg-3 mb-3 mb-lg-0">
                <a href="#" class="team">
                    <img src="/images/avital.jpg" alt="Image" class="img-fluid">
                    <div class="team-inner" style="width: 250px; background-color:grey">
                        <h3>Avital Prives</h3>
                        <span>Backend Developer</span>
                    </div>
                </a>
            </div>
            <div class="col-5 col-sm-5 col-md-5 col-lg-3 mb-3 mb-lg-0">
                <a href="#" class="team">
                    <img src="/images/tal.jpg" alt="Image" class="img-fluid">
                    <div class="team-inner" style="width: 250px; background-color:grey">
                        <h3>Tal Segal</h3>
                        <span>API Service Developer</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

