@*@model IEnumerable<BE.Medicine>*@
@model Medical.Models.ImageViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/LayoutPage.cshtml";
}

    <div class="site-section pb-0">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-7 pr-md-7 mb-5">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="name">Commercial Name</label>
                            <input name="CommercialName" type="text" class="form-control" id="CommercialName" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Generic Name</label>
                            <input name="GenericName" type="text" class="form-control" id="GenericName" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Producer</label>
                            <input name="Producer" type="text" class="form-control" id="Producer" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Active Ingredients</label>
                            <input name="ActiveIngredients" type="text" class="form-control" id="ActiveIngredients" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Dose Characteristic </label>
                            <input name="DoseCharacteristic" type="text" class="form-control" id="DoseCharacteristic" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Select Image</label>
                            <input name="ImagePath" type="file" class="form-control" id="ImagePath" required>
                            <label for="name" style=" color:red ">@ViewBag.message </label>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary py-3 px-5" value="Add Medicine">
                        </div>
                    </form>
                </div>



            </div> <!-- .row -->

        </div>
    </div>


